{% extends 'ourapp/base.html' %}

{% load static %}

{% block extra_css %}
    <link rel = "stylesheet" href="{% static 'css/pages/drink_results.css' %}">
    <link rel = "stylesheet" href="{% static 'css/pages/search_page.css' %}">
{% endblock %}

{% block title %}Cocktail Search{% endblock %}

{% block content %}

    <header>
        <h1>Search for Cocktails <i class="fa-solid fa-wine-glass"></i> </h1>
    </header>

    <main class="search-main" aria-label="Search container">
        <!-- Search Form -->
        <form class='search-form' action="{% url 'search_results' %}" method="GET" onsubmit="hideSuggestions()">
            <input type="text" aria-label="Search Drinks field" name="query" id="search-box" placeholder="Enter a cocktail name..." required>
            <button type="submit" aria-label="Search Drink submit button" style="color: black; font-weight: bold;">Search</button>
        </form>

        <!-- Suggestions -->
        <ul id="suggestions" class="suggestions-list"></ul>

        <!-- Search Results -->
        <div class="results" id="search-results">
            {% if drinks %}
                {% for drink in drinks %}
                    <div class="drink" aria-label="Drink Result Item">
                        <img src="{{ drink.thumbnail }}" alt="{{ drink.name }}">
                        <h4 aria-label="Drink name">{{ drink.name }}</h4><br>
                        <a style="padding-left: 10px; margin-left: 10px;" aria-label="View Recipe button" href="{{ drink.get_absolute_url }}" class="drink-button">View Drink</a>
                    </div>
                {% endfor %}
            {% else %}
                <p style="color: white">Please enter a search term</p>
            {% endif %}
        </div>
    </main>

    <script>
        const searchBox = document.getElementById('search-box');
        const suggestionsList = document.getElementById('search-results');
    
        searchBox.addEventListener('keyup', function () {
            const query = searchBox.value;
    
            if (query.length > 0) {
                fetch(`/search/results/?query=` + query, {
                    headers: { 'X-Requested-With': 'XMLHttpRequest' }
                })
                    .then(response => response.text())
                    .then(html => {
                        suggestionsList.innerHTML = html;
                    });
            } else {
                suggestionsList.innerHTML = '';
            }
        });
    </script>
    
    
{% endblock %}
