{% extends 'ourapp/base.html' %}

{% block extra_css %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/pages/login.css' %}">
{% endblock %}

{% block content %}
    <h2>Login</h2>
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="cta-button" aria-label="Login button" type="submit">Login</button>
    </form>

    <!-- Link to Sign Up Page -->
    <br>
    <p>Don't have an account?<button class="cta-button" aria-label="Register button" onclick="window.location.href='{% url 'signup' %}'" style="margin-left: 10px;">Register here</button></p>
{% endblock %}



Make the sidebar disabled and completly gone
dont use base because we want it to be its own sole page 
Have a glass login screen with food image in the background 
Dont need to woeey about dark mode
for Register have an email feild 
have a password checker still and error display
combine Register and login into one page, just different clicks on each

