{% extends 'ourapp/base.html' %}

{% block content %}
  <h2>{{ user.username }}'s Profile</h2>
  <h3>Saved Drinks</h3>
  {% if saved_drinks %}
    <ul>
      {% for drink in saved_drinks %}
        <li><a href="{% url 'Drink_detail' pk=drink.drinkID %}">{{ drink.name }}</a></li>
      {% endfor %}
    </ul>
  {% else %}
    <p>No saved drinks yet.</p>
  {% endif %}

  <h3>Your Reviews</h3>
  {% if user_reviews %}
    <ul>
      {% for review in user_reviews %}
        <li>
          <a href="{% url 'Drink_detail' pk=review.cocktail.drinkID %}">{{ review.cocktail.name }}</a>
          - {{ review.rating }}/5
          <p>{{ review.review_text }}</p>
          <small>Posted on {{ review.created_at|date:"F j, Y" }}</small>
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>No reviews yet.</p>
  {% endif %}
{% endblock %}